
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
   
  }

  body{
    font-size: 20px;
    min-width: 360px;
    
    
  }

  

header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  align-items: center;
  background-color: rgb(25, 30, 30);
  color: white;
 
  
 
}
header nav ul{
    display: flex;
    list-style: none;
    padding: 10px;  
    margin-top: -5px; 
}

nav ul li {
    margin-right: 10px;
    padding: 5px;
}

header p{
    margin-top: 15px;
    font-size: 25px;
}

nav ul li:active{
    background-color: rgb(73, 73, 39);
    color: black;
    border-radius: 10px;
    cursor: pointer;
}


.aside-two{
   display: flex;
   flex-direction: column;
   align-items: center;
}

#btn-chapters{
    border-radius: 0 0 5px;
    width: 100%;
    margin-bottom: 20px;
}

.dropdown-menu{
    background-color: grey;
}

.main-content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/folha.jpg);
    
}
.main-content h1{
    text-align: center;
    margin-bottom: 30px;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align: center;
}



















 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header{
        font-size: 20px;
    }
    header p{
        font-size: 30px;
    }

    .main-content{
        font-size: 20px;
      margin: 0;
      padding: 30px;
    }

    .aside-two{
       font-size: 20px;
    }
    nav ul li {
        margin-right: 35px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header{
        font-size: 25px;
    }
    header p{
        font-size: 35px;
    }

    .main-content{
        font-size: 20px;
       padding: 30px;
    }

    .aside-two{
       font-size: 25px;
    }
    nav ul li {
        margin-right: 50px;
    }

 }
 